@import '../styles/variables';
.home {
  display: flex;
  height: 720px;
  &__landing-feature {
    position: absolute;
    top: -5.2rem;
    width: 100%;
    z-index: -1;
  }

  &__title {
    transform: translate(20%, 50%);
    @media (min-width: 900px) {
      font-size: clamp(1.3rem, 75vw, 4rem);
      max-width: 530px;
      line-height: 1.4;
      min-height: 300px;
    };
  }

  &__landing-feature-hold {
    position: relative;
    width: 40%;
  }

  &__split {
    flex: 1;
  }
}

.languages {
  padding: 2em 0;
  background-color: $dark-blue;
  min-height: 180px;
  max-height: 700px;
  transition: max-height 400ms ease;
  img {
    margin-inline: auto;
  }
}

.slick-slide .language {
  opacity: .5;
  cursor: pointer;
  transition: opacity 400ms;
}
.slick-active.slick-current .language {
  opacity: 1;
}